

:root {
    font-size: 16px;
    font-family: 'Calibri';
    --text-primary : #b6b6b6;
    --text-secondary : #ececec;
    --bg-primary : #23232e;
    --bg-secondary : #141418;
}


body {
    color: #cccccc;
    background-color:#1e1e24;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 1500px;
}

main {
    margin-top: 0rem;
    min-height: 1500px;
    position: sticky;

}

body::-webkit-scrollbar{
    width: 0.5rem;

}

body::-webkit-scrollbar-track{
    background: #1e1e24;

}

body::-webkit-scrollbar-thumb{
    background: #ff4f73;

}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 0.4s;
    z-index: 999;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(90%) opacity(1);
    transition: 0.3s;
    
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background : var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-family: 'Calibri';
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

h1 {
    color: #ff4f73;
}

.new-icon {
    fill: #8A2BE2;
    transition: 0.3s;
}

.nav-link-ui {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 0.4s;
}

.nav-link-ui:hover {
    background : var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link-ui svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align : center;
    color : var(--text-secondary);
    background : var(--bg-secondary);
    font-size : 1.5rem;
    letter-spacing : 0.3ch;
    width : 100%;
}


body {
    animation: fadeIn 1.25s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1e1e24, transparent);
    z-index: 10000;
}

section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    background-repeat: no-repeat;
}

#text {
    position: absolute;
    color: #ff4f73;
    font-size: 2em;
    z-index: 1;
    padding-bottom: 300px;

}

#meh {
    position: absolute;
    color:white;
    z-index: 1;
    font-family: 'Lobster';
}

#pop {
    position: absolute;
    color:white;
    z-index: 1;
    font-family: 'Lobster';
}

#pop2 {
    position: absolute;
    color:white;
    z-index: 1;
    font-family: 'Lobster';
    color: #ff4f73;
}


/* Small */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    main {
        margin-left: 0rem;
    }

    #meh {
        font-size: 200%;
        padding-left: 10px;
        padding-bottom: 130px ;
        text-align: center;
    }

    #text {
        padding-bottom: 250px;
    }

    #pop, #pop2 {
        font-size: 130%;
        padding-bottom: 60px;
    }

    #pop {
        padding-right: 60px;
    }

    #pop2 {
        padding-left: 125px;    
    }

}

/* Large */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: block;
    }

    main {
        margin-left: 5rem;
    }

    #meh {
        font-size: 5em;
        padding-bottom: 130px;
        text-align: center;
    }

    #text {
        font-size: 2em;
        padding-bottom: 300px;
    }

    #pop {
        font-size: 2em;
        padding-bottom: 0px;
        padding-right: 115px;
        padding-left: 70px;
    }

    #pop2 {
        font-size: 2em;
        padding-left: 240px;    
    }

}